  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <button mat-button class="create-btn" [routerLink]="'/create'">
        Create Task</button>
        <button mat-button class="create-btn" [routerLink]="'/task'">
          Task List</button>
    </div>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
<h1>Wellcome {{ title }}</h1>
<router-outlet></router-outlet>
